---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="w-screen h-screen grid place-items-center">
    <div class="grid place-items-center">
      <h2 class="w-full text-center font-black text-4xl">Low Rider® S</h2>
      <h3 class="text-2xl text-center">The black sheep of the blacktop.</h3>
      <img
        id="low-rider-s"
        src="imgs/low-rider-s.png"
        class="h-[30rem] mr-12 mb-12"
      />
      <div class="grid grid-cols-2 w-full max-w-4xl gap-20">
        <div class="">
          <h4 class="font-black text-2xl mb-4">MILWAUKEE-EIGHT® 117</h4>
          <p class="text-sm">
            High-performance engine with precision oil/air cooling is the new
            pinnacle of torque and displacement in a factory-installed
            Harley-Davidson® powertrain. And if that's not enough, boost
            performance further with Dealer-installed Screamin' Eagle®
            Performance Parts Stage Upgrades from Harley-Davidson® Genuine
            Motor Parts & Accessories.
          </p>
        </div>
        <div>
          <h4 class="font-black text-2xl mb-4">ELECTRONIC CRUISE CONTROL</h4>
          <p class="text-sm">
            For long-distance runs, there's nothing better than letting your
            bike do all the work. Cruise Control puts you just minutes away from
            true riding bliss.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
