---
import Centered from "./Centered.astro";
---

<header
  class="fixed z-50 top-0 w-full border-b border-zinc-200 py-4 backdrop-blur-lg"
>
  <Centered>
    <div class="flex justify-between items-center">
      <img src="imgs/elca.svg" alt="ELCA" class="w-16" />
      <p class="text-xs text-bold text-zinc-400">@GDG</p>
    </div>
  </Centered>
</header>
